.background_image {
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(rgba(108, 108, 108, 0.5), rgba(108, 108, 108, 0.5)),url("../images/nav-back.jpg");
    background-size: cover;
    background-size: 100% 100%;
}

.map_icon {
    width: 40px;
    height: 40px;
    position: relative;
    top: 9px;
    left: 20px;
    color: #e9e9e9;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete1 {
    position: relative;
    display: inline-block;
    left: 375px;
    top: 30px;
  }

  .autocomplete2 {
    position: relative;
    display: inline-block;
    left: 400px;
    top: 30px;

  }
  
  .autocomplete3 {
    position: relative;
    display: inline-block;
    left: 425px;
    top: 30px;
    border-radius: 5px;
  }

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 0;
    left: 0;
    right: 0;
    
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: rgb(233, 233, 233); 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  .head {
    font-style: italic;
    color: rgb(242, 242, 242);
    position: relative;
    top: -60px;
    left: 80px;
    font-size:x-large;
  }

  .topnav {
    background-color: rgb(63, 63, 63);
    overflow: hidden;
    height: 60px;  
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18.5px;
    border-radius: 20px;
    border-color: black;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
  }
  
  /* Add a color to the active/current link */
